{% extends "almacen/base.html" %}
    {% block content %}
    <div  class="container-fluid">
        <ul>
            <li style="display: inline-block" >
                <a href="mm/">
                    <button type="button" class="btn btn-primary" style="width: 15rem;">Mantenedor de materiales</button>
                </a>
            </li>

            <li style="display: inline-block" >
                <a href="dm/">
                    <button type="button" class="btn btn-primary" style="width: 15rem;">Despacho de materiales</button>
                </a>
            </li>

            <li style="display: inline-block" >
                <a href="lp/">
                    <button type="button" class="btn btn-primary" style="width: 15rem;">Listado de productos</button>
                </a>
            </li>

            <li style="display: inline-block" >
                <a href="da/">
                    <button type="button" class="btn btn-primary" style="width: 15rem;">Despachos anteriores</button>
                </a>
            </li>

            <li style="display: inline-block" >
                <a href="ld/">
                    <button type="button" class="btn btn-primary" style="width: 15rem;">Listado de despachos</button>
                </a>
            </li>
        </ul>
    </div>
    {% endblock %}