{% extends "almacen/base.html" %}
    {% block content %}
    <div  class="container-fluid">
        <ul>
            <li style="display: inline-block" >
                <button type="button" class="btn btn-primary" style="width: 15rem;" href="mm.html">Mantenedor de materiales</button>
            </li>

            <li style="display: inline-block" >
                <button type="button" class="btn btn-primary" style="width: 15rem;" href="dm.html">Despacho de materiales</button>
            </li>

            <li style="display: inline-block" >
                <button type="button" class="btn btn-primary" style="width: 15rem;" href="lp.html">Listado de productos</button>
            </li>

            <li style="display: inline-block" >
                <button type="button" class="btn btn-primary" style="width: 15rem;" href="da.html">Despachos anteriores</button>
            </li>

            <li style="display: inline-block" >
                <button type="button" class="btn btn-primary" style="width: 15rem;" href="ld.html">Listado de despachos</button>
            </li>
        </ul>
    </div>
    {% endblock %}