<!-- Mantenedor de materiales-->
{% extends "almacen/base.html" %}
    {% block content %}
        <h3>Mantenedor de materiales</h3>
        <h4>Registro de productos</h4>
        <div>
            <ul>
                <li>Nombre producto</li>
                <li>Categoría</li>
                <li>Unidad medida</li>
                <li>Stock máximo</li>
                <li>Stock mínimo</li>
            </ul>
        </div>
        <div  class="container-fluid">
            <ul>
                <li style="display: inline-block" >
                    <button type="button" class="btn btn-primary" style="width: 12rem;">Crear Producto</button>
                </li>
    
                <li style="display: inline-block" >
                    <button type="button" class="btn btn-primary" style="width: 12rem;">Modificar Producto</button>
                </li>
    
                <li style="display: inline-block" >
                    <button type="button" class="btn btn-primary" style="width: 12rem;">Limpiar pantalla</button>
                </li>
            </ul>
        </div>
        
        </br>

        <h4>Registro de compras</h4>
        <div>
            <ul>
                <li>Proveedor</li>
                <li>Fono contacto</li>
                <li>Factura</li>
                <li>Precio Referencia</li>
                <li>Cantidad</li>
                <li>Precio</li>
                <li>Fecha compra</li>
            </ul>
            <!--aqui agregar listado con todos los registros-->
        </div>

        <div  class="container-fluid">
            <ul>
                <li style="display: inline-block" >
                    <button type="button" class="btn btn-primary" style="width: 12rem;" href="">Agregar compra</button>
                </li>
    
                <li style="display: inline-block" >
                    <button type="button" class="btn btn-primary" style="width: 12rem;" href="">Modificar compra</button>
                </li>
    
                <li style="display: inline-block" >
                    <button type="button" class="btn btn-primary" style="width: 12rem;" href="">Nueva compra</button>
                </li>

                <li style="display: inline-block" >
                    <a href="/">
                        <button type="button" class="btn btn-primary" style="width: 12rem;" href="inicio.html">Salir</button>
                    </a>
                </li>
            </ul>
        </div>

    
    {% endblock %}
